*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.m-button{
    margin-right: 60px;
}

.mod-select{
    background-color: #fff;
    border-radius: 10px;
    border-color: rgb(255, 0, 81);
}

.p-bottom{
    padding-bottom: 50px;
}